<html>
<head>
    <title>%(title)</title>
    <link rel="stylesheet" href="/bootstrap.min.css" />
    <style>
        body {background-color: %(bgcolor);}
        a:link {
          color: %(linkcolor);
        }
        a:visited {
          color: %(vlinkcolor);
        }
  </style>
</head>
<body>
    <br>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-auto">
                <table class="table table-hover table-striped table-dark">
                    <tbody>
                        %(cycle:albums)<tr><th scope="row"><a href="/album/%(album)">%(album)</a></th></tr>%(cycle:albums)
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>