<html>
<head>
    <title>%(title)</title>
    <link rel="stylesheet" href="/bootstrap.min.css" />
    <style>
        body {background-color: %(bgcolor);}
        a:link {
          color: %(linkcolor);
        }
        a:visited {
          color: %(vlinkcolor);
        }
        .btn {
            min-width: 120px;
        }

    </style>
</head>
<body onload=init()>
<center>
    %(commentIfVideoHtmlStart)
    <img src="%(mediaRealUrl)" %(mediaStyle) height="%(mediaHeight)%">
    %(commentIfVideoHtmlEnd)
    %(commentIfPhotoHtmlStart)
    <video height="%(mediaHeight)%" controls=controls autoplay><source src="%(mediaRealUrl)" type=video/mp4></video>
    %(commentIfPhotoHtmlEnd)
    %(commentIfFullScreenHtmlStart)
    <br>
    <br>
    <a href="%(previousMediaUrl)" class="btn btn-secondary btn-sm active" role="button" aria-pressed="true"><&nbsp;&nbsp;&nbsp;Previous</a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="%(mediaUrlFullScreen)" class="btn btn-secondary btn-sm active" role="button" aria-pressed="true">View full screen</a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="%(allAlbumsUrl)" class="btn btn-secondary btn-sm active" role="button" aria-pressed="true">Albums</a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="%(albumPhotos)" class="btn btn-secondary btn-sm active" role="button" aria-pressed="true">Current album</a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="%(nextMediaUrl)" class="btn btn-secondary btn-sm active" role="button" aria-pressed="true">Next&nbsp;&nbsp;&nbsp;></a>
    %(commentIfFullScreenHtmlEnd)

    <script>
        function init() {
            document.body.addEventListener("keydown", function ee(event) {
                if (event.keyCode === 8) {
                    window.location.replace("%(previousMediaUrl)");
                }
                if (event.keyCode === 37) {
                    window.location.replace("%(previousMediaUrl)");
                }
                if (event.keyCode === 32) {
                    window.location.replace("%(nextMediaUrl)");
                }
                if (event.keyCode === 39) {
                    window.location.replace("%(nextMediaUrl)");
                }
                if (event.keyCode === 27) {
                    window.location.replace("%(mediaUrlNoFullScreen)");
                }
                if (event.keyCode === 70) {
                    window.location.replace("%(mediaUrlFullScreen)");
                }
                if (event.keyCode === 38) {
                    window.location.replace("%(allAlbumsUrl)");
                }
                if (event.keyCode === 76) {
                    window.location.replace("%(albumPhotos)");
                }
            });
            %(commentIfNotFullScreenJavaScript) document.body.addEventListener("touchstart", handleTouchStart);
            %(commentIfNotFullScreenJavaScript) document.body.addEventListener("touchmove", handleTouchMove);
        }
        function goNext() {
            window.location.replace("%(nextMediaUrl)");
        }
        function goPrevious() {
            window.location.replace("%(previousMediaUrl)");
        }
        function goToAlbums() {
            window.location.replace("%(allAlbumsUrl)");
        }
    </script>
    <script src="/swipe.js"></script>
</center>
</body>
</html>